/* Navbar.css */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
    padding: 10px;
  }
  
  .logo {
    font-weight: bold;
  }
  
  .nav-links {
    display: flex;
    list-style: none;
  }
  
  .nav-links li {
    margin-right: 15px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease;
  }
  
  .nav-links a:hover {
    color: #666;
  }
  
  .mobile-menu-icon {
    display: none;
    border: none;
    font-size: 27;
  }
  
  @media (max-width: 768px) {
    .nav-links {
      display: none;
    }
  
    .mobile-menu-icon {
      display: block;
      cursor: pointer;
      font-size: 27;
      border: none;
    }
  
    .mobile {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #f2f2f2;
      padding: 10px;
      border: none;
    }
  
    
    .mobile-menu-icon:hover svg {
        color: rgb(109, 107, 106);
      }
      .cancel-icon :hover{
  color:red;
      }
      
  }
  